.form {
  background: #FFFFFF;
  -webkit-box-shadow: 0 17px 42px rgba(0, 0, 0, 0.12);
          box-shadow: 0 17px 42px rgba(0, 0, 0, 0.12);
  border-radius: 29px;
  height: 58px;
  -webkit-transition: -webkit-box-shadow 0.2s ease-in;
  transition: -webkit-box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in, -webkit-box-shadow 0.2s ease-in;
}
.form--active {
  -webkit-box-shadow: 0 17px 42px rgba(247, 132, 52, 0.27);
          box-shadow: 0 17px 42px rgba(247, 132, 52, 0.27);
}

.form_label {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 72px;
  height: 100%;
}
.form_label::before {
  position: absolute;
  top: 20px;
  left: 28px;
  content: "";
  display: block;
  width: 24px;
  height: 19px;
  background-image: url("./../img/icons/mail.svg");
  background-size: initial;
}

.form_input {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-right: 5px;
}
.form_input::-webkit-input-placeholder {
  color: #BBBBBB;
}
.form_input::-moz-placeholder {
  color: #BBBBBB;
}
.form_input:-ms-input-placeholder {
  color: #BBBBBB;
}
.form_input::-ms-input-placeholder {
  color: #BBBBBB;
}
.form_input::placeholder {
  color: #BBBBBB;
}