.header_rov {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_text {
  width: 465px;
}

.header_title {
  position: relative;
  z-index: 9;
  margin-right: -160px;
  margin-bottom: 25px;
  font-size: 54px;
  font-weight: 700;
  line-height: 1.46;
}

.header_text p {
  margin-bottom: 42px;
  font-weight: 400;
  line-height: 1.6875;
}

.form_label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 72px;
  height: 100%;
}
.form_label::before {
  content: "";
  display: block;
  width: 24px;
  height: 19px;
  background-image: url("../../img/icons/mail.svg");
}