.form{
  background: #FFFFFF;
  box-shadow: 0 17px 42px rgba(0, 0, 0, 0.12);
  border-radius: 29px;
  height: 58px;
}
.form_label{
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-left: 72px;
  height: 100%;
}