.object {
  padding-top: 45px;
  padding-bottom: 45px;
}

.object_row {
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width: 1495px){
    justify-content: flex-end;
  }
}

.object_img {
  display: flex;
  justify-content: flex-end;
  align-items:flex-start;
}

.object_text {
  width: 374px;
  padding-right: 150px;
  padding-left: 181px;
  box-sizing: content-box;

  flex-shrink: 0;


  p + p{
    margin-top: 20px;
  }
}
.object_title {
  margin-bottom: 20px;
}

.objects_button{
  margin-top: 40px;
}