.testimonials {
  padding-top: 60px;
  padding-bottom: 60px;
}

.testimonials_heading {
  margin-bottom: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.testimonials_title {
  max-width: 452px;
}

.testimonials_subtitle {
  max-width: 400px;
}

.testimonials_row {
  position: relative;

  display: flex;
  justify-content: space-between;

  column-gap: 30px;

  &::after{
    content: "";
    position: absolute;
    right: -40px;
    top: -40px;

    height: 80px;
    width: 80px;
    background-image: url("./../img/testimonias/desing-element.svg");
    background-repeat: no-repeat;

  }
}