.testimonials {
  padding-top: 60px;
  padding-bottom: 60px;
}

.testimonials_heading {
  margin-bottom: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.testimonials_title {
  max-width: 452px;
}

.testimonials_subtitle {
  max-width: 400px;
}

.testimonials_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}